input{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(99, 228, 99);
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.fname,.lname{
    width: 150px;

}
.email{
    display: block;
    width: 300px;
}
button{
    background-color: firebrick;
    color: white;
    border: none;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 20px;
    font-weight: bold;
    border-radius: 10px;
}